.select-box {
    background-color: white;
    position: relative;
    padding: 5%; 
    border: none;
    margin: 2%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .dropdown {
    display: flex;
    top: 100%;
    display: none;
    position: absolute;
    background-color: white;
    /* border: 1px solid #ddd; */
    width: 100%;
    max-height: 150px;
    font-size: 1.5em;
    overflow-y: auto;
    z-index: 1;
    left: 0;
    box-sizing: border-box;
  }
  
  .multi-select-checkbox .dropdown.open {
    display: block;
  }
  
  .multi-select-checkbox label {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
  }
  
  