.user-info {
    /* margin: 4rem 2rem; */
    border: 1px solid rgb(205, 202, 202);
    /* padding: 16px; */
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    width: 80%;
    /* box-sizing: border-box; */
    padding: 1.5rem;
    gap: 1rem;
}

.user-info__heading {
    all: unset;;
    font-size: 2.5em;
    font-weight: bold;
    display: block;
    align-self: center;
    color: #007BFF;
}

.user-info__user-type {
    display: flex;
    align-items: center;
    gap: 4px;
    font-size: 1.3em;
}

.user-info__location {
    display: flex;
    align-items: center;
    gap: 4px;
    font-size: 1.3em;
}

.user-info__btn {
    display: flex;
    align-items: center;
    gap: 4px;
    background-color: #F64141;
    color: white;
}